<h2>Добро Пожаловать в пиццерию!</h2>

<div class="row">
	<% @products.each do |p| %>
	<div class="col-md-4">
		<div>
			<%= p.title %>
		</div>

		<div>
			<img src="<%= p.path_to_image %>" width="200" height="150" />
		</div>

		<div>
			<%=p.description %>
		</div>

		<div>
			Размер: <%=p.size %> см
		</div>

		<div>
			Цена: <%=p.price%> руб
		</div>

		<div>
			<button type="submit" class="btn btn-success" onclick="add_to_cart(<%=p.id%>)">Clik</button> 
		</div>

	</div>
	<%end%>
</div>
<br/>
<br/>

	<button type="submit" class="btn btn-success" onclick="something()">Clik</button> 

<script type="text/javascript">

	function something()
{   
	

	var x = window.localStorage.getItem('bbb'); 
	
	x = x * 1 + 1;

	window.localStorage.setItem('bbb', x);

	alert(x);
}



function add_to_cart(id)
{
	var key = 'product_' + id;
	
	var x = window.localStorage.getItem(key);
	x = x * 1 + 1;
	window.localStorage.setItem(key, x);

}


</script>

