<h2>Добро Пожаловать в пиццерию!</h2>

<div class="row">
	<% @products.each do |p| %>
	<div class="col-md-4">
		<div>
			<%= p.title %>
		</div>

		<div>
			<img src="<%= p.path_to_image %>" width="200" height="150" />
		</div>

		<div>
			<%=p.description %>
		</div>

		<div>
			Размер: <%=p.size %> см
		</div>

		<div>
			Цена: <%=p.price%> руб
		</div>

		<div>
			<button type="submit" class="btn btn-success" onсlick="add_to_cart();return false;">Clik</button>
		</div>

	</div>
	<%end%>
</div>
<br/>
<br/>

<button type="submit" class="btn btn-dark" onclick="something()">Clik</button>



